[2018-04-11 06:54] rahuldcoder opened #4 "Create Readme.md"
A basic template of readme file which gives information about this project and how to start contribution.

[2018-04-11 06:59] #4 closed

[2018-04-11 07:02] mcashashankkumar commented on #4
We update all information regarding contribution  as soon as possible.

[2018-04-11 07:46] rahuldcoder opened #6 "Create a navbar"
A navigation bar containing necessary pages. I want to work on this.

[2018-04-11 07:47] #6 closed

[2018-04-11 07:47] thisisabdus commented on #6
Will you do that by yourself or you want someone else to do it?

[2018-04-11 07:47] strongSoda commented on #6
Wait for sometime plz!

[2018-04-12 05:18] gauravsinghaec opened #28 "Add images to use it in README.md"
![wireframe - flow](https://user-images.githubusercontent.com/15084301/38657424-c22747d2-3e3d-11e8-9447-7862553d7142.jpg)
![color palette](https://user-images.githubusercontent.com/15084301/38657620-eccfa7bc-3e3e-11e8-9dc2-2e1d6622b8ce.jpg)
![gulp_run](https://user-images.githubusercontent.com/15084301/38658055-110a4996-3e41-11e8-9c28-9324e87cd008.JPG)
![node_run](https://user-images.githubusercon

[2018-04-12 05:21] #28 closed, assigned to nobody

[2018-04-12 05:50] sb39 opened #29 "want to convert the site to angular 4 single page app"
permit needed to convert the whole site, with necessary pages as an angular 4 single page app. I would take 1 working days to complete the app. waiting for approval!

[2018-04-12 13:28] Soumya44 commented on #29
We'll focus on making a working website first. Then we'll discuss about angular or react.

[2018-04-12 13:28] #29 closed

[2018-04-12 13:31] pm17 opened #30 "Color Scheme"
If the moderators approve, shouldn't we agree to a color scheme to use for the project?

[2018-04-12 13:35] viditkothari commented on #30
Hi! @pm17
We have selected our brand color, which you can find in the README.md :)

[2018-04-12 14:02] #30 closed

[2018-04-12 14:09] computer0101 opened #32 "login, signup and profile are requesting wrong libraries which does not exists in assets folder."
Following html files are requesting `bootstrap.min.js` and `bootstrap.css` libraries which does not exists in assets folder.
1. login.html
2. signup.html
3. profile.html

Requesting moderators to please have a look at it.
Thanks,
Devesh Patel (@anonymous)

[2018-04-12 14:11] viditkothari commented on #32
@computer0101 We aren't going for dedicated login / signup page.

[2018-04-12 14:16] strongSoda commented on #32
Hi @anonymous

Login sign-up would be made using modals, most probably. We have kept those .html files just as an insurance as in future if we want to design the for as entirely new pages we would have the flexibility to do so.

As for profile.html we will have a look into it.

Imran @Jeevan Rakht

[2018-04-12 14:17] strongSoda commented on #32
Sorry not @anonymous but @computer0101

[2018-04-12 16:39] #32 closed

[2018-04-13 06:06] strongSoda opened #37 "Issue-1 Design banners and images for Jeevan Rakht!!"
**Issue 1:**
Images and banners are important part of any website. They are the lifeline of UI of any app. High quality images define the appeal of a site. This is what we require first of all.

**What we have in mind:**
A design for the banner (dimension given below) must originally be in 300dpi and at least 1000px x 1000px which is free for non-commercial use. If you are going for solid color th

[2018-04-13 10:33] crisner opened #38 "Problem with navbar hide on scroll feature"

[2018-04-13 10:34] viditkothari commented on #38
@crisner Can you please elaborate?

[2018-04-13 10:39] crisner commented on #38
There was a feature implemented for the fixed navbar to hide upon scrolling which wasn't working. I have submitted a pull request for it.

[2018-04-13 10:41] crisner commented on #38
@Soumya44 I have submitted a pull request referencing this issue.

[2018-04-13 12:46] gauravsinghaec opened #40 "Homepage Mockup"
[jeevanrakht.pdf](https://github.com/UdacityFrontEndScholarship/jeevan-rakht/files/1907369/jeevanrakht.pdf)

[2018-04-13 12:52] gauravsinghaec commented on #40
Link included in README

[2018-04-13 12:52] #40 closed

[2018-04-13 13:52] strongSoda opened #41 "Issue-2 Build the Home page UI"
Hi All!

This is task no. 2.

What you have to do ?

Build the index.html page from the homepage mockup link in the Readme.

Comment your code properly.

While submitting ur PR provide a link to preview ur fork hosted on gh-pages.

We will only consider reviewing ur code if u provide the website link of ur fork.

Deadline:

This Sunday  15 APR.

Get cracking people!!!

[2018-04-14 05:42] vivek1996 commented on #41
I would like to work on this but I want to know which wireframe is the starting homepage ?

[2018-04-14 05:53] Ckbhatia commented on #41
Please be clear & keep updated our classmates on Slack for Project .
it's important to share our work & invite interested classmates to Project .

[2018-04-14 11:16] shivendrarox commented on #41
hi @strongSoda and every one, i have designed the query form part of the pdf mockup,
have a look
https://codepen.io/shivendrarox/full/bvPeaZ

[2018-04-14 12:08] viditkothari opened #46 "Issue-3 : App Design to HTML & CSS"
Hi!

![mockup_app_page_0](https://user-images.githubusercontent.com/409625/38767315-87b4cb0e-3ffc-11e8-838d-42850f48853b.png)

Target file: app.html

Basic overview of the App's structure:

- Header
- - Logo (centered)
- - Profile Avatar/Photo
- BodyContent
- - Button with Label placed above (Locate Blood)
- - Button with Label placed above (Donate Blood)
- Footer
- - Contact #
- - Know More
- - E

[2018-04-14 12:25] strongSoda commented on #41
@crisner

It's Sunday 15 APR . Also updated date in the issue.

[2018-04-14 13:10] SukhjinderArora commented on #46
how will be app.html connected to index.html, as far as I can see index.html is the entry point of the app ?

[2018-04-14 13:13] viditkothari commented on #46
@SukhjinderArora
The project is in two parts:

1. Application : `app.html`
1. Website : `index.html`

`app.html` is linked to `index.html` with the link at the footer: *`Know More`*
and upon launching the site, a person will first be directed to the `app.html`

[2018-04-14 13:39] sb39 commented on #46
@viditkothari  , the above Ui is already built , or we have to built a copy or similar UI to it ?

[2018-04-14 13:41] viditkothari commented on #46
@sb39 This is just visual design, its implementation is what we need. Thus **App Design to HTML & CSS**

[2018-04-14 13:50] sb39 commented on #46
@viditkothari where you got the img's ? it's not there in the assests fldr

[2018-04-14 13:52] viditkothari commented on #46
@sb39  images for? If you need images for icons, instead make use of `Font Awesome` ;)

[2018-04-14 13:59] sb39 commented on #46
@viditkothari jeevan rakt logo is not font awesome

[2018-04-14 14:02] viditkothari commented on #46
@sb39 , go to `assets` folder and find `logo.png`

[2018-04-14 14:13] SukhjinderArora commented on #46
@viditkothari do you have SVG format of logo, that would be very small in size and can be increased or decreased in width without distortion?

[2018-04-14 14:14] sb39 commented on #46
@SukhjinderArora  use font awesome .. for icons

[2018-04-14 14:33] viditkothari commented on #46
@SukhjinderArora We can have .svg but for foreseeable future, we don't intend to release the .svg

[2018-04-14 23:28] praveen-me commented on #46
Last Date Maybe Tuesday, 17 April.

[2018-04-15 00:47] pm17 commented on #46
https://readmenow.in/add-particles-js-web-project/ - This could prove helpful for some

[2018-04-15 05:38] sb39 opened #50 "when do we need to submit the code of the homepage UI?"

[2018-04-15 06:16] gauravsinghaec opened #51 "RESTFull APIs endpoints pdf"
[jeevanrakht_REST_APIs.pdf](https://github.com/UdacityFrontEndScholarship/jeevan-rakht/files/1911725/jeevanrakht_REST_APIs.pdf)

[2018-04-15 06:16] gauravsinghaec commented on #51
Done

[2018-04-15 06:16] #51 closed

[2018-04-15 10:43] praveen-me commented on #50
Till Tomorrow

[2018-04-15 12:05] pm17 commented on #46
For particle.JS to work properly, the js files are to be kept in the same folder where the app.html is. Is it fine to work with that?

[2018-04-15 17:07] viditkothari commented on #46
@pm17 Did you try using relative path referencing to avoid keeping the `.js` file along with the html ?

[2018-04-15 17:10] thisisabdus commented on #46
Not really @pm17. You can put it wherever you want and link it.

[2018-04-15 17:29] sb39 commented on #46
@viditkothari  how to get the particle js objects. visit the repo and check https://github.com/sb39/started.github.io/
live link = sb39.github.io/started.github.io/

[2018-04-15 18:09] viditkothari commented on #50
@sb39 ,
Due date for Website's Home Front-End : 16th April, 2018
Due date for App's Front-End : 17th April, 2018

[2018-04-15 18:10] #50 closed

[2018-04-15 21:26] pm17 commented on #46
@viditkothari I tried

[2018-04-16 05:07] praveen-me commented on #46
And I think CDN is better then putting is locally.

[2018-04-16 15:20] Monikasumathi commented on #46
@viditkothari where can we get the image for the locate and donate blood?

[2018-04-16 20:09] sb39 commented on #46
@Monikasumathi they are fontawesome icons, you can search them at -> fontawesome.com/icons

[2018-04-17 04:27] souryavaranasi commented on #46
Hi @viditkothari  can I work on this issue or is it assigned to someone?

[2018-04-17 04:54] viditkothari commented on #46
Hi @Monikasumathi, as @sb39 said look for the Font Awesome code in the font awesome library :)

[2018-04-17 04:55] viditkothari commented on #46
@Souryavaranasi, we will close the issue in few hours. You can continue to contribute after the first pull

[2018-04-17 05:21] gauravsinghaec opened #71 "Issue-4: Server: Add Endpoints handler for Google OAuth2 login"
**Please implement OAuth2 using hybrid flow:**
https://developers.google.com/identity/sign-in/web/server-side-flow
Check below files where client side code for OAuth2 is written
**/views/auth/login.hjs**
which connects with google server to get one time Code. There will be an ajax call to our endpoint
**/routes/oauth2/gconnect.js**
to exchange the OAuth2 code sent from client with access token and

[2018-04-17 05:26] gauravsinghaec opened #72 "Issue-5: Server: Add Endpoints handler for Facebook OAuth2 login"
Please implement OAuth2 using hybrid flow:
https://developers.google.com/identity/sign-in/web/server-side-flow
Check below files where client side code for OAuth2 is written
**/views/auth/login.hjs**
which connects with google server to get one time Code. There will be an ajax call to our endpoint
**/routes/oauth2/fbconnect.js**
with access token and hence verify the user, if user verified, we hav

[2018-04-17 05:47] gauravsinghaec opened #73 "Issue-6: Server: Capture the signup details and create user"
Check below files, and create the signup page template as per wireframe and test the create user flow
**/views/auth/signup.hjs**
Below is the sample route file in project directory
**/routes/auth/signup.js**

See if user exists, if it doesn't make a new one and add user in database
Once successful signed up, we have to perform below actions:
1. Add user in client session and in database
2. Email v

[2018-04-17 05:52] gauravsinghaec opened #74 "Issue-7: Server: Login user with email and password"
Check below files where client side sample HTML is written
**/views/auth/login.hjs**
Below is the sample rout file
**/routes/auth/login.js**
1. Check user validation
2. Allow user login if everything is ok and set the client session.

On successful login, redirect to the page where he came from
**Deadline: 22 Apr,2018**

[2018-04-17 05:55] gauravsinghaec opened #75 "Issue-8: Design 404, page not found page"
Update the mentioned file with a creative implementation of 404 error message.
*404 is the page a user sees when he/she either enters wrong URL or there is no file found at the entered URL / endpoint*.
`/views/404.hjs`

Few example 404s:
[Creative 404s](https://www.google.co.in/search?q=creative+404+pages+design&num=20&tbm=isch&source=iu&ictx=1)
[GitHub's 404](https://github.com/viditkotharid)

*F

[2018-04-17 06:41] viditkothari commented on #46
@nsaicharan

[2018-04-17 07:15] gauravsinghaec opened #77 "Issue-9: Server: Email verification implementation"
In order to implement email verification, you can use node mailer or
[Sendgrid mailing](https://sendgrid.com/docs/Integrate/Code_Examples/v3_Mail/nodejs.html).
Below are the required steps:
1. send verification link(with token) to the given email and
Route files: **routes\profile\verifyemail.js**
2. once user follows the link , verify the token and hence update the flag in database
Route files: **

[2018-04-17 07:21] gauravsinghaec opened #78 "Issue-10: Server: Change/Update password Implementation"
In order to implement forgot/change password functionality, you can use node mailer or
[Sendgrid mailing](https://sendgrid.com/docs/Integrate/Code_Examples/v3_Mail/nodejs.html).
Below are the required steps:
1. send password reset link(with token) to the given email and
Route files: **routes\auth\forgot.js**
2. once user follows the link , take him/her to the reset page to type new password
Route

[2018-04-17 08:04] kadumuri1994 commented on #77
Can I try this one?

[2018-04-17 10:13] nsaicharan commented on #46
@viditkothari,
Here's the link - https://rakth-test.herokuapp.com/

[2018-04-17 13:53] vivek1996 opened #83 "Issue-11 Error in the hosted Site"
When the site is visited https://jeevanrakht.herokuapp.com/   the Particle Js is not loaded since it is loaded over HTTP connection .It needed to be changed to HTTPS .Because Chrome blocks the content loaded over HTTP.

[2018-04-17 19:53] utkarsh2102 commented on #83
Great catch @vivek1996 :)

[2018-04-17 19:54] utkarsh2102 commented on #83
As this issue has been resolved in #85, I'm closing this.
Great work @nsaicharan :)

[2018-04-17 19:54] #83 closed

[2018-04-18 03:41] vivek1996 commented on #75
Can I have the template of the 404 page to work?

[2018-04-18 04:12] Hardiki commented on #77
@kadumuri1994 yes you can give it a try..

[2018-04-18 04:26] #46 closed

[2018-04-18 05:44] souryavaranasi commented on #75
Can we design in our own style or there is any template?

[2018-04-18 07:27] viditkothari commented on #75
@vivek1996 @souryavaranasi,
Please check the updated information for this issue.

[2018-04-18 08:58] Ckbhatia commented on #75
@gauravsingh ! @viditkhothari
Please Check Page 404 Error that I designed . Give Me Some Feedback to Improve it . Thanks

[2018-04-18 13:45] seethaR03 commented on #75
This is my idea based on existing concept, which I have drawn(excuse the drawing part, as designing was taking too long for me)
![404](https://user-images.githubusercontent.com/27719165/38935747-b95d99e0-433c-11e8-9029-cd103eca517e.jpg)

[2018-04-19 01:39] viditkothari opened #87 "Issue-11 : UI Design • Locate Blood • State A"
**Reference: The Wireframe in the README.md**

Target file: *app.html (create a div for the locate blood functionality)*
Source .PSD files:
1. *https://github.com/UdacityFrontEndScholarship/jeevan-rakht/blob/master/public/assets/UI/PSD/MockUp_original.psd* **PSD CC 2018 - with Artboards**
1. *https://github.com/UdacityFrontEndScholarship/jeevan-rakht/blob/master/public/assets/UI/PSD/jeevanrakht-si

[2018-04-19 02:04] viditkothari opened #88 "Issue-12 : UI Design • Locate Blood • State B"
**Reference: The Wireframe in the README.md**

Target file: *app.html (create a div for the locate blood functionality)*
Source .PSD files:
1. *https://github.com/UdacityFrontEndScholarship/jeevan-rakht/blob/master/public/assets/UI/PSD/MockUp_original.psd* **PSD CC 2018 - with Artboards**
1. *https://github.com/UdacityFrontEndScholarship/jeevan-rakht/blob/master/public/assets/UI/PSD/jeevanrakht-si

[2018-04-19 02:07] viditkothari opened #89 "Issue-13 : UI Design • Locate Blood • State C"
**Reference: The Wireframe in the README.md**

Target file: *app.html (create a div for the locate blood functionality)*
Source .PSD files:
1. *https://github.com/UdacityFrontEndScholarship/jeevan-rakht/blob/master/public/assets/UI/PSD/MockUp_original.psd* **PSD CC 2018 - with Artboards**
1. *https://github.com/UdacityFrontEndScholarship/jeevan-rakht/blob/master/public/assets/UI/PSD/jeevanrakht-si

[2018-04-19 11:39] benatbanglr369 commented on #87
Hi @viditkothari am not able to see the psd file in the first link you provided. The second link shows 404.

[2018-04-19 11:50] viditkothari commented on #87
@benatbanglr369 Can you please, clear the cache and try again? I just checked and the first URL seems to work fine. The second URL needed an update and is functional now.

[2018-04-19 16:35] computer0101 commented on #73
Hey everyone,
I have tried to implement this issue and below is my github fork link. I would like you all to review it and then if everything works fine and if you ask me to make PR then I will make PR, so that there won't be any unnecessary PR's.
Here is my link to github fork repo:

[https://github.com/computer0101/jeevan-rakht/](https://github.com/computer0101/jeevan-rakht/)

[2018-04-19 17:46] benatbanglr369 opened #93 "Fix search-box input field focus"
![screenshot from 2018-04-19 23-00-47](https://user-images.githubusercontent.com/34590642/39008527-8924314a-4426-11e8-91e5-ac7f8e047b63.png)

The focus highlight on search-box input field is not proper. It shows extra margin on the right side.

[2018-04-19 17:49] benatbanglr369 commented on #93
I have fixed this. I will create a PR.

[2018-04-20 06:01] gauravsinghaec commented on #73
@computer0101 Hey Devesh, it is much better this time please go ahead and raise the pull request.

[2018-04-21 06:54] Vicks1010 opened #100 "Textarea resizes and goes over form in card one"
Below is the screenshot of the issue.
The textarea in "HAVE A QUESTION?" card can be resized (vertically), and it's height becomes more than that of parent form. I have not found a workable solution as of now. But disabling the resizing property is a work around. Tried to give the height of `.card.one` as `auto` or `fit-content`, but in turn it affects "FACT FOR THE DAY" card. Also, the background

[2018-04-21 13:26] sb39 opened #104 "assigning issue"
please assign tasks to specific person @admins, all are working on one issue, you should allocate an issue to almost two people,  rest gets demotivated if their pull is not merged. Look into the issue, please.

[2018-04-21 13:31] strongSoda commented on #104
Hi @sb39

We can assign issues to specific people , which we will do for certain specific issues, but we can't limit all the issues to specific people as to record contribution of participants it is necessary to make PRs and we have less issues compared to the participants contributing. And as this is important for selection of second phase, we want to give everyone opportunities.

And we will ass

[2018-04-21 13:31] #104 closed

[2018-04-21 14:08] karkranikhil commented on #100
I have fixed this issue

[2018-04-22 02:26] crisner opened #106 "Make home page for the website responsive"
@viditkothari @Soumya44 I would like to work on this. Please do let me know if i can proceed.

[2018-04-22 04:12] #93 closed

[2018-04-22 04:12] benatbanglr369 commented on #93
As said by @utkarsh2102 this seem to be a small bug and needs to be included with few more changes. Hence closing this.

[2018-04-22 07:53] #87 closed

[2018-04-22 07:53] #88 closed

[2018-04-22 07:53] #89 closed

[2018-04-22 14:01] computer0101 commented on #74
**Issue 7**
Hello mods and co-mods. I have implemented user signup.
Please review my code.
Github fork link: [https://github.com/computer0101/jeevan-rakht/](https://github.com/computer0101/jeevan-rakht/)
Heroku Link: [https://sleepy-hamlet-36125.herokuapp.com/](https://sleepy-hamlet-36125.herokuapp.com/)
Name: Devesh Patel (slack username: @anonymous)

[2018-04-22 14:10] gauravsinghaec commented on #74
signup or login? @computer0101  :-)

[2018-04-22 14:12] computer0101 commented on #74
Sorry. Edited. Copied and Pasted previous comment so.. 😄

[2018-04-22 14:49] gauravsinghaec commented on #74
Please go ahead and create pull request on the same

[2018-04-22 15:49] viditkothari commented on #106
@crisner Can you work on implementing the Web App? Because website needs some planning and has lower priority

[2018-04-22 15:58] gauravsinghaec commented on #72
The logic is implemented so closing it.

[2018-04-22 15:58] #72 closed

[2018-04-22 15:58] gauravsinghaec commented on #71
The logic is implemented so closing it.

[2018-04-22 15:58] #71 closed

[2018-04-22 15:59] gauravsinghaec commented on #74
The logic is implemented so closing it.

[2018-04-22 15:59] #74 closed

[2018-04-22 16:03] gauravsinghaec commented on #73
I will add few more fields on the view, hence I am extending the deadline.

[2018-04-22 18:54] #106 closed

[2018-04-23 06:30] aartigurjar commented on #75
It is important to provide options on 404 page to give directions to visitors on what to do next. Here the page has options like navigating back to Home page, searching a query or visiting the website's social media links. This keeps the visitors to stay on the website.

![404 page mockup](https://user-images.githubusercontent.com/36697551/39110132-c63e15d6-4684-11e8-882d-562a6d0e303e.jpg)

[2018-04-23 06:35] viditkothari commented on #75
@seethaR03 good work 😄
@aartigurjar can you please try for something little more creative?

[2018-04-23 07:42] aartigurjar commented on #75
![mockup 2](https://user-images.githubusercontent.com/36697551/39113069-3e197852-468f-11e8-9e51-5945108333a7.jpg)

[2018-04-23 17:05] #38 closed

[2018-04-23 17:09] Soumya44 opened #118 "Decrease the width of Query form in Home page"

[2018-04-23 17:10] Soumya44 opened #119 "Work on Footer of Home page according to mock"

[2018-04-23 17:11] Soumya44 opened #120 "A auto-scrolling list(like notice board) is required in homepage as per prescribed mocks"

[2018-04-23 17:12] aartigurjar commented on #119
@Soumya44 where can I find the mockup for home page? I want to work on this.

[2018-04-23 17:49] divayg commented on #118
Hey @Soumya44  I like to work on this

[2018-04-23 23:47] karkranikhil commented on #100
Whether my code gets merged or not guys? this ticket is still open.

[2018-04-24 04:56] Soumya44 opened #125 "Make the footer section Mobile friendly"
Add some margin in each column when it hits mobile view.

[2018-04-24 08:35] Vicks1010 opened #128 "The navbar overlaps the sidebar"
##### The screenshot of the issue is included at the end
### Steps to reproduce:
1. Open `index.html`
2. Switch the view to portrait
3. Click on the hamburger to bring out the sidebar
4. Click just besides the cross of sidebar
5. The navbar opens just over the sidebar

#### Note: The reverse does not happen. Opening sidebar after opening navbar, minimizes the navbar.
![_c__github_jeevan-rakht_publ

[2018-04-24 14:29] abhishekakade commented on #125
May I work on this one?

[2018-04-24 15:00] viditkothari commented on #125
@abhishekakade yes, you may. But please show @Soumya44 your implementation before sending a PR.

[2018-04-24 16:57] gauravsinghaec commented on #78
Added code to send reset password link to registered email and on click of the link.
Code also validates if the link is valid and if yes then show the page to reset password otherwise redirect to login page.

[2018-04-24 18:00] gauravsinghaec commented on #77
@kadumuri1994 Please check the Reset Password code, hope it will help you. Please do let us know if you still want to work on it or shall I assign it to other?

[2018-04-25 10:50] gauravsinghaec commented on #77
The task has been completed. We are able to send the verification link. After the link is validated, update the DB to activate the user's account.

[2018-04-25 10:50] #77 closed

[2018-04-25 11:31] computer0101 commented on #78
Implemented update/password issue.
mods and co-mods please review it.
Github fork link: [https://github.com/computer0101/jeevan-rakht/](https://github.com/computer0101/jeevan-rakht/)
Name: Devesh Patel (slack username: @anonymous)

[2018-04-25 19:54] gauravsinghaec commented on #78
The task is completed.

[2018-04-25 19:54] #78 closed

[2018-04-25 19:55] gauravsinghaec commented on #73
@computer0101 please update the issue once the changes are done as per new fields.

[2018-04-26 07:55] computer0101 commented on #73
Updated code for capturing signup details as new fields were added on signup page.
Here is my link to github fork repo:
[https://github.com/computer0101/jeevan-rakht/](https://github.com/computer0101/jeevan-rakht/)

Name: Devesh Patel (slack username: @anonymous)

[2018-04-26 08:30] gauravsinghaec commented on #73
Hey @computer0101 , now i can see improvement in your coding. Well done!! I can see you are preserving the value of fields as well on error. Good work, please go ahead and raise the PR for this.

[2018-04-26 18:43] utkarsh2102 opened #139 "Fix Minor Issues in Login Page (link given below)"
I've worked out some avatar thing for the login page.
It is in my starter's repository : https://github.com/utkarsh2102/GoogleUdacity_JeevanRakht/blob/master/login.html
Please fix the changes for improving the UI.
And then this will be merged here.

[2018-04-27 07:27] gauravsinghaec commented on #73
Completed

[2018-04-27 07:27] #73 closed

[2018-04-27 08:46] gauravsinghaec opened #141 "Issue-14: Server: Check and save donor details"
The next task at back-end is to test the functionalities of donate page.
**Step-1** User registered on jeevanrakht
**Step-2** User clicks on donate button, he will be taken to the donar profile page for filling up the further details needed for a donor.

**route file:(back-end code)** routes/profile/users.js
**html file(donar profile page)** routes/profile/users.hjs

You can refer to the below sec

[2018-04-27 09:43] gauravsinghaec opened #142 "Issue-15: Server: Find and list the donor based on search criteria on locate page"
The next task at back-end is to test the functionalities of donate page.
**Step-1** Either a registered or new user can locate donors on jeevanrakht.
**Step-2** User clicks on locate button, he will be taken to the locate page. Then search and list donors based on the selection criteria.
Donorlist page URL: https://jeevanrakht.herokuapp.com/donarlist
If you are a registered user you can see detail

[2018-04-28 17:08] utkarsh2102 opened #145 "Redesigning Footer"
The Footer needs to be redesigned with the the given Font Awesome images.
@Soumya44 : Can you fix it back please?
Or anyone who wants to claim it?

[2018-04-28 17:40] seethaR03 commented on #145
Can you show the preview of resdesigned footer?

[2018-04-28 17:43] seethaR03 commented on #75
@viditkothari  Thanks! Is the final design decided?

[2018-05-01 10:52] Kundan28 commented on #120
@Soumya44
What should be displayed inside it ?

[2018-05-01 10:59] raj-abhishek commented on #145
I can help in redesigning the footer!

[2018-05-01 11:11] #41 closed

[2018-05-01 14:06] viditkothari commented on #120
on going design overhaul, thus closing this issue.

[2018-05-01 14:06] #120 closed

[2018-05-01 17:07] utkarsh2102 commented on #145
Please do and make a PR of the same.

[2018-05-02 05:28] Kundan28 commented on #145
I can help too...

[2018-05-02 07:59] gauravsinghaec commented on #141
Template for donor/profile form is created.

[2018-05-02 08:43] Kundan28 commented on #145
I have made PR for the same...

[2018-05-02 12:10] Logan1x opened #160 "Redesign Header for Homepage."
The header is poorly designed & need to be redesigned for [Homepage](https://jeevanrakht.herokuapp.com/index.html).
![selection_023](https://user-images.githubusercontent.com/10944610/39522441-cea280ba-4e2f-11e8-97c3-488c105cf15d.png)

[2018-05-02 12:24] Logan1x commented on #145
you would have been seeing your username instead of mine if you did that...

![image](https://user-images.githubusercontent.com/10944610/39523018-dc6c7474-4e31-11e8-8777-9fa9ffeb5930.png)

[2018-05-02 12:25] Kundan28 commented on #145
I have changed the title from Redesigned Footer with the Font Awesome images. to #145 Redesigned Footer with the Font Awesome images.

[2018-05-02 12:27] Kundan28 commented on #145
Should I remove #145 from the title ?

[2018-05-02 12:30] Logan1x commented on #145
it's totally your choice. its another way of tracking but if someone visiting this issue and find the reference link it would help them more rather then finding all the open/closed issue.

[2018-05-02 12:31] Kundan28 commented on #145
Okay...

[2018-05-02 12:38] Logan1x opened #161 "Back button is not working"
![selection_024](https://user-images.githubusercontent.com/10944610/39523556-b15a831e-4e33-11e8-843f-48f4c880ee06.png)
Back button is not working on https://jeevanrakht.herokuapp.com/locate

[2018-05-02 12:53] gauravsinghaec commented on #161
Thanks @Logan1x yeah, we are fixing it in next drop along with other design changes to make it consistent with other page.

[2018-05-02 12:54] Logan1x commented on #161
assign me this issue i would work on that

[2018-05-02 13:45] gauravsinghaec commented on #161
@Logan1x great, there are few more things to add. Please check the /donate and try to add margin-top / bottom and also adjust the width as per the footer. Go through the /donate and DM me for further assistance.

[2018-05-02 17:26] Logan1x commented on #161
Sure I'll try to help as much as I can

[2018-05-02 20:24] #145 closed

[2018-05-02 21:00] viditkothari commented on #160
@Logan1x Thanks for your valuable feedback. We are currently in-process of some design overhaul. Will let the community know of the updates soon. :)

[2018-05-02 21:00] #160 closed

[2018-05-03 14:54] pm17 opened #166 "Using Database as a Service for the project."
What if we can use database as a service for the project. This will help create a centralized database for the application.

[2018-05-03 16:06] Logan1x commented on #160
does that mean the whole home will be redesigned and the error will be solved too? @viditkothari

[2018-05-03 17:47] viditkothari commented on #160
@Logan1x We are reviewing content update , only after which will we be able to confirm anything

[2018-05-03 19:49] gauravsinghaec commented on #166
@pm17 We will look into that but we can't consider it in current scope. Please check the database related issue and try to add your contribution.
I am extremely sorry but I am closing this issue as it is out of scope for now.

[2018-05-03 19:49] #166 closed

[2018-05-03 19:59] sskanishk opened #168 "website name is missing in mobile view."
https://jeevanrakht.herokuapp.com/index.html
![screen shot 2018-05-04 at 1 14 32 am](https://user-images.githubusercontent.com/29313203/39599722-37f112ec-4f3a-11e8-9aa4-935cd5487ef5.png)

[2018-05-04 03:48] Kundan28 opened #169 "Vertical scroll list is not responsive."
https://jeevanrakht.herokuapp.com/index.html
![vertical scroll list](https://user-images.githubusercontent.com/33788217/39612276-aa745c70-4f7b-11e8-9cc1-6e80fd1ba7e1.jpg)
The size of the headlines remain same even for the devices having smaller screen size.

[2018-05-04 13:28] pm17 commented on #75
is this open or final design has been selected?

[2018-05-04 14:59] vamsikrishnareddybevara opened #171 "search box in the header came out of the its scope..."
![screenshot 136](https://user-images.githubusercontent.com/38369869/39634979-ca3f0fa6-4fd9-11e8-8862-4af3d1f5555c.png)
can i improve the header look?

[2018-05-04 15:06] manasasravanthi96 commented on #171
Dear vamsi
Hi I am to thinking the same even become donor is not working... in total 3
pages as well as request blood is not working... I think sone more
functions need to be included. In my point of view...

Warm regards
B.P.Manasa

On Fri, 4 May 2018, 20:29 vamsi, <notifications@github.com> wrote:

[2018-05-04 16:32] manasasravanthi96 commented on #171
I think we need to improve functions for button as well as on other littel
issues...I think what you said is ok...we will try for that...

On Fri, 4 May 2018, 21:54 vamsi, <notifications@github.com> wrote:

[2018-05-04 16:34] vamsikrishnareddybevara commented on #171
so...moderator..we will try our own versions to improve it..you can take the best?...ok?

[2018-05-05 04:51] Ckbhatia commented on #75
@gauravsinghaec
I closed the PR , I will Update it Soon & Provide you to Review Before PR . . Thanks For Your Great Support , We have talked more then 1 hour , It was too long & awesome .

[2018-05-05 04:54] viditkothari commented on #75
@seethaR03 Hi!, It is still under process :)
@pm17 We are still looking for aesthetically pleasing ones :)

[2018-05-05 08:31] sumilmehta opened #173 "Nav Bar"
The nav bar on your know more page is not properly aligned. The done button has zero top margin, the search bar is not responsive

![capture](https://user-images.githubusercontent.com/18137211/39661295-c99f8e84-506c-11e8-8f08-9802079d25ef.JPG)

[2018-05-05 08:34] sumilmehta opened #174 "Cards' height not equal"
The blood needed cards are not of equal sizes
![capture](https://user-images.githubusercontent.com/18137211/39661327-341b2228-506d-11e8-87bc-b2b4052c8b50.JPG)

[2018-05-05 08:36] manasasravanthi96 commented on #141
Hi,
I would like to do on this issue, Of collecting more details from the person in front-end.

[2018-05-05 08:42] gauravsinghaec commented on #141
This template is done, please check the issue 15 @manasasravanthi96

[2018-05-05 08:43] #37 closed

[2018-05-05 09:07] manasasravanthi96 commented on #142
I would like to take part in this issue, of locate blood.

[2018-05-05 09:14] gauravsinghaec commented on #142
@manasasravanthi96 yes please work on the UI part and make sure the page appearance(styles and javascripts) are in sync with other pages. check existing pages and css class(app.css) for help. You can ping me or @nsaicharan for any help

[2018-05-05 10:28] vamsikrishnareddybevara commented on #173
hi sumil mehta...  i already  mentioned this problem..and i'm working on it...

[2018-05-05 11:06] sumilmehta commented on #173
The other issue just pointed out the search button only.

[2018-05-05 11:18] sumilmehta opened #177 "Extra Margin/ White Space at bottm"
There is some margin after the footer/social media links division.
![capture](https://user-images.githubusercontent.com/18137211/39662734-2c4f08c2-5084-11e8-9dd8-d8d0e5d86c51.JPG)

[2018-05-05 11:27] sumilmehta opened #178 "No validation in contact form"
Please allow some validation for the contact form
![capture](https://user-images.githubusercontent.com/18137211/39662813-5d264db0-5085-11e8-83cc-8b54f9498860.JPG)

[2018-05-05 11:28] vamsikrishnareddybevara commented on #173
yes..i am working on that also..can i/

[2018-05-05 17:14] gauravsinghaec commented on #141
The task is completed and we are able to save user's aka donor's details in MongoDB.

[2018-05-05 17:14] #141 closed

[2018-05-05 17:25] gauravsinghaec opened #180 "Issue-16: Server: Book donor appointment on donate page"
The next task at back-end is to implement the book appointment functionalities of donate page.
**Step-1** User registered on jeevanrakht
**Step-2** User clicks on donate button and if 90 % details needed for a donor is completed via profile update, he will be taken to the book appointment page. There on click of book, the details will be saved in DB.
**route file:(back-end code)** routes/main/dona

[2018-05-05 17:39] gauravsinghaec opened #181 "Issue 17: (Frontend - JavaScript)Signup Page: Implement smart form validation using JavaScript or jQuery."
Now all the validation happens at server side but as you all know its unnecessary to send HTTP request to server before validating input values at the client side. We have kept pretty simple validation as of now and hope you will gain more hands on on JS by working on this issue:
Validate form on click of **save** (event handler using JS) button or validate **on change** event as user types in a v

[2018-05-05 17:47] vamsikrishnareddybevara opened #182 "can i know why the main.css file is removed?"
![screenshot 189](https://user-images.githubusercontent.com/38369869/39666012-6e7ca5f2-50ba-11e8-8a33-76af7eddd1ef.png)
why the main.css is removed?

[2018-05-05 17:55] mohit94614 opened #183 "Route issue on home page"
Home page requesting for  following url
https://jevanrakth.herokuapp.com/login.html
404 Error

![image](https://user-images.githubusercontent.com/17672906/39666087-77f21e9a-50bb-11e8-93f0-1eade9ea17e7.png)

[2018-05-05 18:02] gauravsinghaec commented on #183
1. Its old version of code. Update the repo with latest code.
https://jeevanrakht.herokuapp.com/-- Our official App URL
2. We don't have login.html, signup.html or profile.html static pages rather you can find those pages on webapp
**Login :** https://jeevanrakht.herokuapp.com/login
**Signup :** https://jeevanrakht.herokuapp.com/signup
**Profile :** https://jeevanrakht.herokuapp.com/users

[2018-05-05 18:02] #183 closed

[2018-05-06 10:24] mmnauman opened #184 "Signup Page Issue (Typo and blood stock issue)"
Hello, when we submitted the signup forum with the weak password we are getting the validation error that has typo mistakes.  like it should be contain but it is written contail fix it.

One more confusion bloodstock in litres or bottles please mention it this is confusing for anyone. and why it is reaching the negative number.

![github issue](https://user-images.githubusercontent.com/23205151/39

[2018-05-06 10:35] mmnauman opened #185 "Locate Blood or Donate Blood page Should have Map at the bottom"
Hello, I have noticed that we should have the map that should show where is the blood available in the city entered by the user. and when the user wants to donate it should show on the map the name that can be easily selected.

![github issue](https://user-images.githubusercontent.com/23205151/39672413-45db61f0-5147-11e8-90bb-b36c3b1eb141.JPG)

[2018-05-06 12:35] utkarsh2102 commented on #182
Because the whole website is being redesigned. I'll add the empty one meanwhile.

[2018-05-06 12:35] #182 closed

[2018-05-06 12:43] viditkothari commented on #185
Hi @mmnauman, yes indeed it should but in later phase of development. We have limited the current scope of development.

Thanks for suggesting though!

[2018-05-06 12:43] #185 closed

[2018-05-06 17:06] gauravsinghaec commented on #184
Thanks buddy, check if you find more. We will update it.

[2018-05-06 18:11] adsingh14 opened #187 "Unable to run it offline using gulp command."
Hi!
I just found that this project isn't working offline properly using `gulp` command.

How to run this project :
- Terminate the `gulp` command(if you've execute it).
- Start nodemon by `npm start` -> then type `localhost:3000` manually in your web browser's address bar.

Now the problem is, what is the real use of `gulp` command if it takes us to blank page having git-logo on the top-right corn

[2018-05-06 18:27] mohit94614 commented on #187
The project is executing the thing is that the page that's is opening by `gulp` is blank by itself such that it;s under development process .
 Run the project under `npm start ` That is the working project

[2018-05-06 20:06] utkarsh2102 commented on #168
Will be taken care of. Do let us know if it is still missing.

[2018-05-06 20:06] #168 closed

[2018-05-06 20:08] gauravsinghaec commented on #187
There has been notice that we are redesigning our website. Also you might check that index.html is website page which is blank now. So the gulp is opening the index.html file and it is expected. I think it is clearly mentioned that no start is for app and which is why you are getting the content. So if you are interested in working on Frontend website page then yes gulp will help you and as soon a

[2018-05-06 20:08] #187 closed

[2018-05-06 20:47] abhishekakade commented on #181
I'd like to work on this one.

[2018-05-06 20:50] abhishekakade commented on #174
That's because of the content inside it. I've used Bootstrap and kept the height to auto since the content inside those cards won't be the same for all the cards in real use anyways. If they want to keep the height fixed just for that then we can hide the overflow but that will defeat the whole purpose of the card I think.

[2018-05-07 04:52] gauravsinghaec commented on #181
@abhishekakade Please go ahead and share the working link for review before raising the PR.

[2018-05-07 08:51] Logan1x commented on #161
hey, @gauravsinghaec I am not able to figure out where do I need to change, can you guide me. I checked js files of locate and donate but both are similar.

[2018-05-07 08:52] Logan1x commented on #161
the issue is solved by someone but I still want to know where do I need to change.

[2018-05-07 08:52] #161 closed

[2018-05-07 09:06] Logan1x commented on #184
@gauravsinghaec typo in sign  up page updated and not able to find where I can update `Blood stock` to update in lit or bottle's

[2018-05-07 09:12] Logan1x commented on #184
Done

now if someone tell me how to make its value only positive?

[2018-05-07 09:18] gauravsinghaec commented on #184
@mmnauman can you please help @Logan1x

[2018-05-07 09:25] Logan1x commented on #184
thanks, @nsaicharan updating.

[2018-05-07 09:32] Logan1x commented on #184
@gauravsinghaec  please review #188

[2018-05-07 14:35] mmnauman opened #190 "Password Update issue"
Hello, When I have logged correctly and want to change or update my password through my profile. It is taking me to the forgot password page why? It should give the direct option to update the password after some sort of captcha verifying. Please fix this.
![project issue google](https://user-images.githubusercontent.com/23205151/39707420-fe7cd1d6-5231-11e8-9e40-12f0e30ea124.PNG)

[2018-05-07 14:36] mmnauman commented on #190
I have a solution to it. We just need to display the input box option and above a captcha that should be like random number + random number then after verifying we can change the password through our profile section. Hope you got it

[2018-05-07 15:28] gauravsinghaec commented on #190
Sorry @mmnauman but this is not an issue rather suggestion. It's not only for logged in user rather even at login page for forgot password. You will be getting unique reset link to reset the password and that link is temporary.
You can though implement and share your code repo for learning.
But this is the implementation of the current phase. Thanks for your suggestion. Do let us know if you are g

[2018-05-07 15:28] #190 closed

[2018-05-07 17:14] Ckbhatia commented on #75
@gauravsinghaec @viditkothari @strongSoda @utkarsh2102
check this : everything working fine ! contains dual pics . different for mobile view & desktop view .
but different code is added for different image but image is single yet . i am working on it . for Now just check it . if pass then i am going to Make PR .

https://ckbhatia-jeevanrakht-pr.herokuapp.com/j

i hope you will like it & accept my

[2018-05-07 19:51] viditkothari opened #191 "Prepare • Format • Proof read the content document."
We need the content document ready for further processing.

Please check the original document and the partly-edited document (formatted in a way that we need our document to be.) in the:

1. https://github.com/UdacityFrontEndScholarship/jeevan-rakht/blob/master/_workables/content/JeevanRakht%20Information_v1.docx &

1. https://github.com/UdacityFrontEndScholarship/jeevan-rakht/blob/master/_workab

[2018-05-08 02:56] vattytrivedi commented on #75
Here I am posting a few pens of the error page, if you like any idea and select it I will merge it with the theme of the page and will raise the PR
- [First](https://codepen.io/VattyTrivedi/pen/VxroRO)
- [Second](https://codepen.io/VattyTrivedi/pen/LmOwaq)
- [Third](https://codepen.io/VattyTrivedi/pen/JvOgze)
- [Fourth](https://codepen.io/VattyTrivedi/pen/PeOMLq)
- [Fifth](https://codepen.io/Vatty

[2018-05-08 03:08] mmnauman opened #192 "Why Mobile Number field is readonly? Not able to add the number"
Hello, When I was debugging the profile section an I found that the mobile number field is readonly and cannot be edited.

![mobile number disabled](https://user-images.githubusercontent.com/23205151/39735846-1ddc7090-529b-11e8-80e4-964e30694002.JPG)
![this field is disabled](https://user-images.githubusercontent.com/23205151/39735847-1e1d7004-529b-11e8-9cda-f3799b7633da.JPG)

[2018-05-08 03:13] mmnauman commented on #184
Still, Blood Stock is not fixed. What we need to do is just add another input type select and in that, we have to add litres, bottles etc .

[2018-05-08 07:18] gauravsinghaec commented on #192
@mmnauman Thanks for your time on validation. The mobile number and email can't be edited as we want only verified num/email to be added. Once we add the OTP verification functionality, you will be able to see mobile and it will be captured via signup. Bear with us till then and yeah we would love to see you coming up with pseudo code for OTP verification. If you already have then do share the lin

[2018-05-08 14:04] vattytrivedi commented on #75
**Vampire Error Page**
Only CSS used for animation. Feel free to give suggestion for improvement.

[Visit](https://codepen.io/VattyTrivedi/pen/GdyvRY?editors=1000)

[2018-05-08 14:25] gauravsinghaec commented on #180
The issue is completed. Please start validating and create an issue if you find any.
Happy Learning.

[2018-05-08 14:25] #180 closed

[2018-05-08 16:17] Logan1x commented on #184
PR is in the process will be add soon.

[2018-05-08 16:56] mohit94614 opened #195 "Location and validation error's"
![image](https://user-images.githubusercontent.com/17672906/39771078-9769fe78-530e-11e8-8705-c2a14cc76cee.png)
Autolocation Can't detect first line of address such that in auto detection by gps it's not allowing the user to enter by manual and generating validation error

Validation of Weight and height Should Also be done

[2018-05-08 17:10] gauravsinghaec commented on #195
You can edit the address by selecting the edit radio button if you didn't get proper GPS address.

[2018-05-08 17:16] mohit94614 commented on #195
i can select the radio button but the users using the application won't be so smart like all of us working on the project the don't know that he/she can do that using radio button maybe few can find out .
in certain Cases the GPS don't work properly .

[2018-05-09 03:58] gauravsinghaec commented on #195
Closing this as it is expected as per current design and we will look into it in next cycle of development.
We are going to conduct a demo session for jeevanrakht app.

[2018-05-09 03:58] #195 closed

[2018-05-09 04:58] gauravsinghaec opened #197 "Issue 18: (App Frontend)Profile Page Validation: Implement smart form validation using RegEx, JavaScript or jQuery at client side."
Now all the validation happens at server side but as you all know its unnecessary to send HTTP request to the server before validating input values at the client side. We are opening another issue for form validation at the client side. Validate form on click of **save** (event handler using JS) button or validate **on change** event as user types in a value in the field. Please check the pretty s

[2018-05-09 05:04] gauravsinghaec opened #198 "Issue 19: (Frontend)Donate Page Validation: Implement smart form validation using RegEx, JavaScript or jQuery at client side."
Now all the validation happens at server side but as you all know its unnecessary to send HTTP request to the server before validating input values at the client side. We are opening another issue for form validation at the client side. Validate donate form on click of book (event handler using JS) button or validate on change event as user types in a value in the field. Please check the pretty si

[2018-05-09 08:15] skywalker212 commented on #197
@gauravsinghaec can i work on this, I will also work on isuue #181 and #198

[2018-05-09 08:35] gauravsinghaec commented on #197
@skywalker212 you are always welcome to work on the issues and yes please comment on the other issues as well before working on it. It will help others to know who all are working.
Do share the link on issues before raising the PR.
All the best.

[2018-05-09 08:45] skywalker212 commented on #197
okay, thanks!

[2018-05-09 09:36] skywalker212 commented on #198
I am working on this issue

[2018-05-09 10:14] gauravsinghaec commented on #198
@skywalker212 Please share the link of your working site/code before raising the PR. Check the contribution guidelines.

[2018-05-09 11:03] skywalker212 commented on #198
I have solved issue #181 and #198 and my local commit is [here](https://github.com/skywalker212/jeevan-rakht/commit/188a943a8c8cb323f00691e370d5e8b77d11fabe)
can I raise a PR now?

[2018-05-09 11:36] gauravsinghaec commented on #198
@skywalker212  If you have deployed the code on Heroku then please share the Heroku link to test the changes.

[2018-05-09 11:43] gauravsinghaec commented on #184
@mmnauman and @Logan1x @nsaicharan kudos to all of you. 🥇
The issue is resolved now.

[2018-05-09 11:43] #184 closed

[2018-05-09 11:46] vattytrivedi commented on #75
Is this issue still open @strongSoda @gauravsinghaec ?

[2018-05-09 11:52] skywalker212 commented on #198
https://morning-headland-57135.herokuapp.com
@gauravsinghaec here is the deployed heroku link

[2018-05-09 12:07] nsaicharan commented on #198
@skywalker212
One small suggestion: whitespace is also considered as a character, so after checking the length of fname, lname, etc.,  do another check to see if there are any whitespaces (or numbers).

[2018-05-09 12:12] skywalker212 commented on #198
@nsaicharan okay,
shall I trim the trailing whitespaces and then check?

[2018-05-09 12:34] nsaicharan commented on #198
@skywalker212 yes, that's right.

[2018-05-09 12:57] skywalker212 commented on #198
@nsaicharan @gauravsinghaec I have updated the code to check for whitespace and numbers.
link to my local commit: https://github.com/skywalker212/jeevan-rakht/commit/5f5c7d2cf9c5c1303e2d660ca7b4e7f984b5d537
heroku: https://morning-headland-57135.herokuapp.com/signup

[2018-05-09 13:42] skywalker212 commented on #198
@gauravsinghaec you mean that I check for all the errors parallelly and then display them in one alert box right? e.g length of fname and lname must be more than 3 etc.
and I will write functions for checking fields individually, like checkPassword, checkLength etc.

[2018-05-09 13:46] gauravsinghaec commented on #198
@skywalker212 I am ok with sequential checks as well but it should validate one field completely before moving to another. For 2nd point yes you are right, general methods which improve the code visibility as well as maintainability.

[2018-05-09 13:50] skywalker212 commented on #198
@gauravsinghaec I didn't get that, can you give me an example where it fails to do sequential check?
thanks!

[2018-05-09 13:54] skywalker212 commented on #198
@gauravsinghaec okay, working on it.
Thanks!

[2018-05-09 15:43] utkarsh2102 commented on #174
The website is being redesigned now.
Thank you for noticing details very minutely.
Please help us in rebuilding the site now.

[2018-05-09 15:43] #174 closed

[2018-05-09 15:44] utkarsh2102 commented on #139
As no one was able to take this task, I'm hereby closing the same.

[2018-05-09 15:44] #139 closed

[2018-05-09 15:44] utkarsh2102 commented on #171
Hi @vamsikrishnareddybevara,
The website is being redesigned now. Please help us in the same now.

[2018-05-09 15:45] utkarsh2102 commented on #178
Hi @sumilmehta,
The website is being redesigned now.
Please help us in the same.

[2018-05-09 15:45] #178 closed

[2018-05-09 15:46] utkarsh2102 commented on #177
Hi @sumilmehta,
The website is being redesigned now.
Please help us in the same.

[2018-05-09 15:46] #177 closed

[2018-05-09 15:46] utkarsh2102 commented on #173
Hi @sumilmehta,
The website is being redesigned now.
Please help us in the same.

[2018-05-09 15:46] #173 closed

[2018-05-09 15:46] utkarsh2102 commented on #169
Hi @Kundan28,
The website is being redesigned now.
Please help us in the same.

[2018-05-09 15:46] #169 closed

[2018-05-09 15:51] utkarsh2102 opened #202 "[FrontEnd] Designing Footer for the Website."
The Footer needs to be designed as per the given mockup.
[Refer](https://github.com/UdacityFrontEndScholarship/jeevan-rakht/blob/master/_workables/UI/Website/JeevanRakht%20Website_v1%20(draft).jpg).
Please make sure the design is exactly the same as given there.
All the coding should be done in "index.html" file.
Let me know who is up for the task?

[2018-05-09 17:11] abhishekakade commented on #202
By tomorrow?

[2018-05-09 17:35] skywalker212 commented on #181
I am working on this issue.

[2018-05-09 18:32] mmnauman commented on #202
Hello, Please count me in.

[2018-05-10 02:43] gauravsinghaec commented on #181
Task completed. @abhishekakade @skywalker212 🥇

[2018-05-10 02:43] #181 closed

[2018-05-10 02:45] gauravsinghaec commented on #198
Well done @skywalker212. 🥇  Task completed

[2018-05-10 02:45] #198 closed

[2018-05-10 05:02] viditkothari commented on #191
Hi @seethaR03 , can you please check now?

[2018-05-10 05:25] seethaR03 commented on #191
Yeah it works

[2018-05-10 07:41] LtSGoel opened #206 "Facebook SignIn Not Working"
when login through the facebook , its open the pop-up,as click on continue, it open the facebook popup, but donot fetch the details of the profile.
I think this issue can be solved by https://github.com/jaredhanson/passport-facebook#readme

[2018-05-10 07:43] LtSGoel opened #207 "Geolocation search bar not working correctly"
as search for a place in the search bar, it just give this is a post request .
not search the places

[2018-05-10 07:51] gauravsinghaec commented on #206
@LtSGoel please refer to the https://github.com/UdacityFrontEndScholarship/jeevan-rakht/blob/master/CONTRIBUTING.md guide to know more about raising and valid issues with all important details needed.

[2018-05-10 07:53] gauravsinghaec commented on #207
@LtSGoel please refer to the https://github.com/UdacityFrontEndScholarship/jeevan-rakht/blob/master/CONTRIBUTING.md guide to know more about raising and valid issues with all important details needed. The issue #142 is already in progress and once done you will get data.

[2018-05-10 07:53] #207 closed

[2018-05-10 08:04] LtSGoel opened #208 "Index.html redirect to some otherpage when click on github logo and no body content.Kindly send the design so that work start"
<img width="1275" alt="screen shot 2018-05-10 at 1 33 45 pm" src="https://user-images.githubusercontent.com/26035935/39859246-d1985844-5456-11e8-900d-aa4a4f690e09.png">

[2018-05-10 08:10] LtSGoel opened #209 "Forgot password : validation check is not correct as we enter new password , it Always show First letter is capital (when enter full password still show same ) and when submit the new password it show the below message"
<img width="1276" alt="screen shot 2018-05-10 at 1 36 59 pm" src="https://user-images.githubusercontent.com/26035935/39859484-a81192aa-5457-11e8-92cd-b8cbafa750c6.png">

[2018-05-10 08:11] LtSGoel commented on #209
[
<img width="1184" alt="screen shot 2018-05-10 at 1 40 39 pm" src="https://user-images.githubusercontent.com/26035935/39859542-cae140c8-5457-11e8-8348-9f394c004358.png">
](url)

[2018-05-10 08:12] gauravsinghaec commented on #208
@LtSGoel please refer to the https://github.com/UdacityFrontEndScholarship/jeevan-rakht/blob/master/CONTRIBUTING.md guide to know more about raising a valid issue with all important details needed. The notification had already been circulated regarding website redesign. Follow the #cp_jvn_rkht channel to get the latest update.

[2018-05-10 08:12] #208 closed

[2018-05-10 08:50] skywalker212 commented on #197
solved this issue
my local commit: https://github.com/skywalker212/jeevan-rakht/commit/6c022cc38a4c7ab5b722c7905ccd65860772067d
heroku deployment: https://morning-headland-57135.herokuapp.com/users

[2018-05-10 09:14] gauravsinghaec commented on #197
@skywalker212 One suggestion (It applies to your earlier signup, donate too) like can you keep else if check otherwise now it is stacking all the alerts one above other and you need to close all the alerts before you can proceed. Either we can show all alerts at once as a list (which may not look good) or trigger one alert at a time.(like if... else if  .... else if).

[2018-05-10 09:19] skywalker212 commented on #197
okay then ill do else if so only one alert displays at a time

[2018-05-10 10:29] skywalker212 commented on #197
@gauravsinghaec updated code to display one alert at a time, added a minimum count of 0 in bloodstock for the organization.
https://github.com/skywalker212/jeevan-rakht/commit/a6080f40ad974894ca7037cd0c3bdf22b7972af4
heroku: https://morning-headland-57135.herokuapp.com/users

[2018-05-10 10:40] gauravsinghaec commented on #197
@skywalker212 awesome. Please go ahead and raise the PR and mention this issue number in that.

[2018-05-10 11:45] gauravsinghaec commented on #197
Thanks for your effort @skywalker212  🥇
Closing the issue as it is completed.

[2018-05-10 11:45] #197 closed

[2018-05-10 12:14] gauravsinghaec commented on #209
@LtSGoel The error message is corrected but I was not able to replicate the post error thing. Please share the steps which is causing the issue on the new password.

[2018-05-10 12:51] strongSoda opened #211 "Improve SEO to appear in first tem results of Google search for keywords Jeevan Rakht"
Improve the SEO tags and make Jeevan Rakht more visible  in Google search results. Optimise code by minifying , images , etc .

[2018-05-10 13:35] sumilmehta commented on #191
@viditkothari

1. Every 3 Month**s**  (page 1)
2. Your blood **can** save a life (page 2)
3. details **like** blood group, location **etc** (page 2)

A lot of places with missing articles and wrong use of spaces(and commas).

[2018-05-10 13:40] seethaR03 commented on #191
Is this issue still open?

[2018-05-10 17:59] LtSGoel commented on #209
this post error issue not come . since your last update... but user still unable to reset his password.Kindly look on the attached video link.
1.Password validation Still not correct
https://www.dropbox.com/s/fyql9d0zvzen1pq/reset%20password.mov?dl=0

[2018-05-10 18:50] gauravsinghaec commented on #209
@LtSGoel Please share the password you are using, as I tried few combinations but it worked.

[2018-05-11 04:05] viditkothari commented on #191
@seethaR03 yes, but since we didn't receive support on time, I'll close this in few hours

[2018-05-11 05:48] LtSGoel commented on #209
The password is Shobhitgoel7017678056@

On Fri 11 May, 2018, 12:20 AM Gaurav Singh, <notifications@github.com>
wrote:

[2018-05-11 06:31] gauravsinghaec commented on #209
@LtSGoel I was able to change the password, please check as it can be a temporary server issue.
![image](https://user-images.githubusercontent.com/15084301/39909541-eba56adc-5510-11e8-83c2-60eea5f38ef8.png)

![image](https://user-images.githubusercontent.com/15084301/39909998-d44bc866-5512-11e8-849e-b3afd5684079.png)

[2018-05-11 09:34] manasasravanthi96 commented on #142
Hello gauravsingh,
I have implemented this if it requires more addition design please give me suggestions to make this more effective.
![capture3](https://user-images.githubusercontent.com/36622595/39917779-36bd13e2-552c-11e8-86b4-465b2efac9bc.PNG)

[2018-05-11 10:04] manasasravanthi96 commented on #202
Plz verify this and give me feedback.
You can DM me at @Prabhu Manasa
https://github.com/UdacityFrontEndScholarship/jeevan-rakht/issues/142

[2018-05-11 10:17] vattytrivedi commented on #211
We can make use of the OG meta tags.
If you wish to implement I will drop the code for it.

[2018-05-11 10:35] strongSoda commented on #211
Yes go ahead and also try to come up with  other ways to increase visibility.

[2018-05-11 10:59] abhishekakade commented on #202
I've already made a pull request @divayg, @manasasravanthi96

[2018-05-11 12:14] gauravsinghaec commented on #206
Closing as the issue didn't have enough data to check.

[2018-05-11 12:14] #206 closed

[2018-05-11 13:05] vattytrivedi opened #214 "Favicon icon for the website"

[2018-05-11 13:13] sumilmehta commented on #202
Is this done?

[2018-05-11 13:37] gauravsinghaec commented on #214
@vattytrivedi please go ahead and share your work.

[2018-05-11 13:38] gauravsinghaec commented on #75
@vattytrivedi yes

[2018-05-11 13:55] vattytrivedi commented on #75
My submission for error page @strongSoda
Error page #215

[2018-05-11 14:09] vattytrivedi commented on #214
Here is the favicon for the website.
![jeevan-rakth](https://user-images.githubusercontent.com/14287645/39928455-019dc8ce-5553-11e8-80dc-6f197f43e94e.png)

[2018-05-11 14:37] gauravsinghaec commented on #202
@abhishekakade always share the working website link before raising a PR to decrease the chances of delay/rejection of your PR. Request you to follow the guidelines.
https://github.com/UdacityFrontEndScholarship/jeevan-rakht/blob/master/CONTRIBUTING.md

[2018-05-11 15:19] gauravsinghaec commented on #192
This will get reflected in our next deployment. Thanks @mmnauman 💯

[2018-05-11 15:19] #192 closed

[2018-05-11 15:20] gauravsinghaec commented on #209
Closing the issue as we could not replicate it.

[2018-05-11 15:20] #209 closed

[2018-05-11 15:23] abhishekakade commented on #202
@gauravsinghaec yeah sorry, forgot about that. Here's the link -
https://abhishekakade.github.io/jeevan-rakht/public/index.html

[2018-05-11 16:39] viditkothari commented on #191
@sumilmehta, I am unable to find mentioned textual occurrences on page 23

[2018-05-11 17:14] viditkothari commented on #191
@sumilmehta
thanks. Got it :)

[2018-05-11 17:57] skywalker212 commented on #214
@vattytrivedi the favicon that you shared seems good!
I think we should finalize that @gauravsinghaec

[2018-05-11 18:00] gauravsinghaec commented on #202
The PR is merged, hence closing the issue.

[2018-05-11 18:00] #202 closed

[2018-05-12 04:01] gauravsinghaec commented on #142
@manasasravanthi96 please raise the PR with this template.

[2018-05-12 08:50] gauravsinghaec commented on #75
Thank you all @seethaR03 @vivek1996 @Ckbhatia @aartigurjar @vattytrivedi @pm17 for your inputs and here is the page(designed by @vattytrivedi ) which is finalised and deployed on the official site. https://jeevanrakht.herokuapp.com/badpath
![image](https://user-images.githubusercontent.com/15084301/39955624-9c49ade2-55ef-11e8-8aa5-b91f95013985.png)

[2018-05-12 08:50] #75 closed

[2018-05-12 09:43] viditkothari commented on #214
@vattytrivedi @gauravsinghaec, this is exactly why we designed such brand. Yes this is the favicon we will use.

Which .ico converter are we using though?

[2018-05-12 09:44] #191 closed

[2018-05-12 09:45] vattytrivedi commented on #214
Here is the ico file:

https://drive.google.com/file/d/1uNhZzz9yKjfqyhQhXEyXojn_QdS061TP/view?usp=sharing

[2018-05-12 09:47] viditkothari commented on #214
@vattytrivedi, the quality seems crisp enough, but is it possible to have lower file size while still maintaining quality for the icon at (max.) 256x256 image dimension?

[2018-05-12 09:50] vattytrivedi commented on #214
@viditkothari It is 180kb in size. How much lower size do I get it?

[2018-05-12 09:55] viditkothari commented on #214
@vattytrivedi, Yeah 20KB looks and loads well. That should do. Thanks !

[2018-05-12 09:59] gauravsinghaec commented on #214
@vattytrivedi please go ahead and raise the PR with reference to this issue.

[2018-05-12 10:30] pm17 commented on #211
Bookmarking helps a lot to get better ranks, so we can even have social media pages for the web app, if mods approve and it is with in the scope of project for time being.

[2018-05-12 10:30] vattytrivedi commented on #214
@gauravsinghaec
Here is the PR
Add Favicon #222

[2018-05-12 11:28] strongSoda opened #224 "Make the website mobile responsive."
The new JeevanRakht website is only for desktop size devices. Your task is to make it user friendly on small screens.

This is the link to current website https://jeevanrakht.herokuapp.com/index.html

[2018-05-12 11:30] strongSoda opened #226 "Add Appropriate content from the content doc to website at appropriate places"
All the content is available in the doc hosted in repo. Your task is to add that content in appropriate divs under appropriate headings in the website homepage.

The current site is here https://jeevanrakht.herokuapp.com/index.html

[2018-05-12 11:32] vattytrivedi commented on #211
I am making this PR to improve the search results and also making it more shareable - getting more contents like favicon and info when we try to share the link on WhatsApp/Slack or any other platform.
The search tags used also increases the search result in a google search.

Add meta tags: OG and itemprop #225

[2018-05-13 01:45] vattytrivedi commented on #211
@strongSoda Can you have a look at the PR?

[2018-05-13 02:28] gauravsinghaec commented on #211
@vattytrivedi please refrain from raising PR before getting approval on issues.
I would request you to share the screenshots or link to see before and after effect. Hope this makes sense.

[2018-05-13 03:01] vattytrivedi commented on #211
@gauravsinghaec
For this to work you have to accept the PR as i have set the tags for this repository and project.
So if you accept it i will be able to show you the results.

[2018-05-13 03:05] strongSoda commented on #226
@karthik781

Can you pls elaborate how much and by when will u complete this task to give us a clear idea?

[2018-05-13 04:29] gauravsinghaec commented on #211
@vattytrivedi why is it dependent on our acceptance, sorry but please deploy on heroku and share your heroku test link. Just let me know that if it is not possible to test on your heroku link with the corresponding tag of your repo.

[2018-05-13 04:35] vattytrivedi commented on #211
Here are the tags that i have used.

+    <meta itemprop="name" content="JeevanRakht">
+    <meta itemprop="description"
+            content="JeevanRakht is a Virtual Blood Bank web app">
+    <meta itemprop="image" content="https://jeevanrakht.herokuapp.com/assets/images/favicon.png">
+
+
+    <meta property="og:type" content="website">
+    <meta property="og:title" content="JeevanRakht">
+

[2018-05-13 04:43] gauravsinghaec commented on #211
Hey @vattytrivedi only change you need to do to show us is that just updates the below URL with your heroku URL and then you can share the screenshot of the improvements you have done
https://**jeevanrakht**.herokuapp.com

[2018-05-13 04:50] vattytrivedi commented on #211
See i have not hosted the project on heroku i.e. the first thing.
Secondly the tags results depend on the number of visits and making changes in my repo and hosting it no one is going to visit it. And members use this repo link daily so it will give much faster results.
So, now it is up to you. I will not be able to give you the screenshot of the result as there is any 2 days left. I can assure yo

[2018-05-13 04:54] viditkothari commented on #211
@vattytrivedi, May I ask for confirmation:
If there are two files with 15 additions: 1) .PNG file for the favicon and 2) meta tags which help in SEO, so I'm guessing the changes aren't viewable.

Secondly, what is it about the two repos. that you are referring to? Is there any conflicting issue that I need to be aware of?

When I feel these additions are good to be included, and not conflicting I'

[2018-05-13 05:00] vattytrivedi commented on #211
Yes there are only 2 changes.
Have a look at the below link
http://ogp.me
And the reference to the two repo is not about conflicting. The tags work on keywords if both repos have same tag then they will display different  results instead of only one website.
And i don't wish to debate more on this topic.
I will wait for some time after is comment and will remove the request if you all don't feel i

[2018-05-13 05:13] viditkothari commented on #211
@vattytrivedi,
I'm unable to understand which two repos are you referring to when you say *both repo* : `The tags work on keywords if both repos have same tag then they will display different results instead of only one website`

@strongsoda created this issue to improve Google ranking but your code seems to deal with Facebook's Open graph, about which I'm not sure if it will yield any effective r

[2018-05-13 08:13] viditkothari opened #228 "Graphics Design for 'Funny Myths Slider'"
We need aesthetically pleasing, sober visual designs for the **Funny Myths** slider

You can refer to ***Myths - Blood Donation*** section in the [Content Doc.](https://github.com/UdacityFrontEndScholarship/jeevan-rakht/blob/master/_workables/content/JeevanRakht%20-%20Content%20Doc%20(final).pdf) for text-copy.

To foster contribution from all of you, and ensure more engagement we are open to rece

[2018-05-13 08:57] Karthik781 commented on #226
@strongSoda  By end of tomorrow. aren't pages are connected to homepage yet?

[2018-05-13 09:30] nehavatsyan commented on #228
![powerpnt_2018-05-13_14-56-01](https://user-images.githubusercontent.com/35574268/39965832-3f9a1b20-56be-11e8-9a2b-0f2cffba7696.png)

kindly view it

[2018-05-13 09:46] viditkothari commented on #228
Hi @nehavatsyan , glad to see your prompt contribution.
I like the use of syringe here :)

I have couple of suggestions though:
1) Can you try this same text-copy, with the syringe but in a different setting ?
2) Using **bold** Sans-Serif font like Montserrat / Roboto / Open Sans / Oswald / Bebas Neue for the titles and serif like Playfair, etc. for the text ? **Avoid** using Comic Sans MS.
3) Inv

[2018-05-13 09:59] nehavatsyan commented on #228
sir i did not get 1st suggestion , what are you asking for in it ?
rest of the suggestions , i will implement them and show

[2018-05-13 10:04] viditkothari commented on #228
@nehavatsyan , I meant can you try coming up with another design / version using same content?

[2018-05-13 10:06] nehavatsyan commented on #228
ok sir , i will try

[2018-05-13 11:44] nehavatsyan commented on #228
![powerpnt1](https://user-images.githubusercontent.com/35574268/39966913-f1623150-56d0-11e8-87f0-4e2080edaa02.png)
![pp2](https://user-images.githubusercontent.com/35574268/39966916-f8c374f4-56d0-11e8-9ed1-f2040fc8ce08.png)

[2018-05-13 12:34] gauravsinghaec commented on #224
@skywalker212 yes, please share your work once done.

[2018-05-13 12:39] skywalker212 commented on #224
@gauravsinghaec since #229 is related with this, should I wait for that issue to be fixed? or go ahead since my commit and fix of #229 can cause conflicts.

[2018-05-13 12:50] gauravsinghaec commented on #224
@skywalker212 please go ahead. The PR is closed now.

[2018-05-13 12:53] skywalker212 commented on #224
@gauravsinghaec Okay

[2018-05-13 20:18] gauravsinghaec commented on #142
**Locate page functionalities implemented**
* User will see only donors counts when he/she is not signed in
* User will see the donors details when he/she is signed in
  - Locate search won't count the signed in user for the donor list

**Locate page pending functionalities *
* Filter results base on search criteria
* User will see the donors details when he/she is signed in
  - Need to implement

[2018-05-14 04:36] LtSGoel commented on #209
issue still remin the same guys

On Fri, May 11, 2018 at 8:50 PM, Gaurav Singh <notifications@github.com>
wrote:

[2018-05-14 07:41] skywalker212 commented on #224
@gauravsinghaec done.
heroku: https://morning-headland-57135.herokuapp.com/index.html

[2018-05-14 08:08] strongSoda commented on #224
LGTM

@VIDIT @GAURAV

[2018-05-14 08:14] skywalker212 commented on #224
@strongSoda you have tagged somebody else by mistake 😅
If it's good to go then I'll raise a PR.

[2018-05-14 11:10] viditkothari commented on #224
@skywalker212
The two things that I approve of in your implementation are:

1. The navigation at the top adjust according to the device's dimension but I don't like that you changed the padding which now results in misaligned navigation menu text and logo (vertical alignment needs to be proper)

1. Funny Myth's image placeholder is adjusting nicely but you have changed the placeholder's size out o

[2018-05-14 11:36] skywalker212 commented on #224
![morning-headland-57135 herokuapp com_index html iphone 6_7_8 plus](https://user-images.githubusercontent.com/16351685/39994889-4b42ab56-5798-11e8-8020-db4a9aa7fed5.png)
![morning-headland-57135 herokuapp com_index html](https://user-images.githubusercontent.com/16351685/39994890-4bb2c1ac-5798-11e8-8917-6dcb1014e611.png)
@viditkothari thanks for the review!
can you tell me exactly where do i need

[2018-05-14 12:36] skywalker212 commented on #224
**Updated**
https://morning-headland-57135.herokuapp.com/index.html
https://github.com/skywalker212/jeevan-rakht/commit/4271a62c17d6fab0055545ec048d4a5681889b78
@viditkothari please tell me the changes that remain.

[2018-05-14 18:39] viditkothari commented on #228
Nice concepts that should look better if given nice aesthetics

[2018-05-16 01:34] Ruchika30 commented on #228
Hi. Then should I work on my graphic, the one above?

[2018-05-16 01:45] Ruchika30 commented on #228
@viditkothari Can i work on this issue ?

[2018-05-16 04:15] viditkothari commented on #228
@nehavatsyan can you upload the source file here?

@Ruchika30 , yeah, please use the text-copy from the content doc and impress us :)

[2018-05-16 04:30] viditkothari commented on #224
@skywalker212
![Edit 1](https://user-images.githubusercontent.com/409625/40096740-cced6cce-58ef-11e8-864b-43128977e129.png)
![Edit 2](https://user-images.githubusercontent.com/409625/40096741-cd2462d8-58ef-11e8-9ee9-2cbaccd67be5.png)
![Edit 3](https://user-images.githubusercontent.com/409625/40096742-cd5989fe-58ef-11e8-9459-1bb2b1977977.png)
Please note the changes

and nice work ensuring that fon

[2018-05-16 06:42] nehavatsyan commented on #228
[folder.zip](https://github.com/UdacityFrontEndScholarship/jeevan-rakht/files/2007760/folder.zip)

@viditkothari  GitHub does not supports sending psd files so i put them in this zip folder.

[2018-05-16 07:30] gauravsinghaec opened #237 "Issue-20: (Backend+Frontend): Implement delete account functionality."
**Frontend Part**: Add a link on the profile page and show an alert when a user clicks on it to delete the account. If user confirms, a server call is made to delete the account from MongoDB.
* Impacted File: views/profile/users.hjs
*Note: Please add css as per project guidelines.

**Backend Part**: Add request handler to act on the input request and hence delete the account from DB.
* Impacted Fi

[2018-05-17 02:28] gauravsinghaec commented on #142
**Completed filter functionalities to find donors based on:**
Blood Group
Availability Date
Location(City)

**Locate page pending functionalities**
* Need to implement contact donor functionality(User will see the donors list in locate search results when he/she is signed in and will be able to connect with them)

[2018-05-17 04:33] gauravsinghaec commented on #224
@skywalker212 any progress on this?

[2018-05-17 04:37] gauravsinghaec commented on #211
@vattytrivedi Can we see the results of improvement now as your changes are there in original site for few days now?

[2018-05-17 04:38] gauravsinghaec commented on #226
@Karthik781 please let us know if you are still working on it?

[2018-05-17 05:49] vattytrivedi commented on #211
Following is the result if you share the link of the website.

![photogrid_1526535889534](https://user-images.githubusercontent.com/14287645/40158727-b0d6fe90-59c3-11e8-8b89-6b28e8295dfe.jpg)

And you make a  google search the result will be 2nd or 3rd for the link.

[2018-05-17 05:55] gauravsinghaec commented on #211
Hey that's great and just see below stats
![image](https://user-images.githubusercontent.com/15084301/40158974-e1717a7a-59c4-11e8-868f-9179df8a0693.png)
Why is the GitHub link coming up first rather the site link
**https://jeevanrakht.herokuapp.com/**?

[2018-05-17 06:04] gauravsinghaec commented on #211
Google search on jeevanrakht.herokuapp.com is quite good. But @vattytrivedi also is it not possible to improve the Google search on keyword **Jeevan Rakht** as mentioned in issue title. Check below:
![image](https://user-images.githubusercontent.com/15084301/40159280-2d5c00f8-59c6-11e8-9ded-3742bce9b889.png)

[2018-05-17 06:43] gauravsinghaec opened #240 "Issue-21: (Backend+Frontend): Show existing booking of donors on donate page."
**Frontend Part**: Add section on donate page to show existing booking details.
* Impacted File: views/main/donate.hjs
*Note: Please add css as per project guidelines.
![image](https://user-images.githubusercontent.com/15084301/40160542-9dde3a58-59cb-11e8-97bf-79a9926ebcba.png)

**Backend Part**: Add code to get existing booking details from DB to show up on donate page.
* Impacted File: views/mai

[2018-05-17 07:59] skywalker212 commented on #224
@gauravsinghaec sorry I was offline and was not able to work on it since the past few days,
I'll do the updates on the weekend. If that's fine.

[2018-05-17 08:01] skywalker212 commented on #224
@viditkothari okay, thanks for the improvements!
I'll try to resolve those issues as soon as possible. The thing is, I only optimized the site for specifically some display resolution and not for all the possible resolutions, I'll work on it and give you an update once done.

[2018-05-17 08:45] vattytrivedi commented on #211
https://www.google.com/webmasters/tools/home?hl=en

fill the details of the website in this link and add the generated tag.

[2018-05-17 13:30] nikki158 commented on #224
@viditkothari  Is it resolved? Or is anyone working on this?

[2018-05-17 13:35] gauravsinghaec commented on #224
@nikki158 yes @skywalker212 is working on it.
Please wait for his changes.

[2018-05-17 13:46] nikki158 opened #242 "Top Carousel requires relevant images"
![top carousel](https://user-images.githubusercontent.com/35723562/40181350-88286c84-5a06-11e8-9364-8de8f1835f62.png)

`file path : /public/index.html`

[2018-05-17 14:18] gauravsinghaec commented on #242
@nikki158 please share your images here with the team.

[2018-05-17 22:55] praveen-me commented on #224
Ya, Tell me @gauravsinghaec as I said I also working on it for wait for @skywalker212  PR response.

[2018-05-18 06:51] gauravsinghaec commented on #237
Work preview on delete account is as follows:

Delete Account Link on Profile Page
![image](https://user-images.githubusercontent.com/15084301/40219980-3eaf4eda-5a95-11e8-9318-f6991a9f5bbc.png)

Delete Account Modal View on Desktop
![image](https://user-images.githubusercontent.com/15084301/40219935-1e4bef72-5a95-11e8-83c1-606201ad0119.png)

Delete Account Modal View in Mobile
![image](https://use

[2018-05-18 07:01] mcashashankkumar commented on #237
Everything is good
From my side.

[2018-05-18 07:03] Logan1x commented on #237
Yes delete account feature is definitely needed.

[2018-05-18 07:48] viditkothari commented on #237
Just a casual question:
Are we *deleting* the record or are we ***actually deleting*** the record? :P :)

[2018-05-18 07:49] Logan1x commented on #237
@vidit try at facdebook they might hire you 😂

Sent through a robotic carrier pigeon at Mach 4 speed.

On May 18 2018, at 1:18 pm, Vidit Kothari <notifications@github.com> wrote:

[2018-05-18 07:52] viditkothari commented on #237
@Logan1x , what can I say - I ***love*** data too :D 😁

[2018-05-18 08:45] gauravsinghaec commented on #237
@viditkothari hard delete, as shown in the alert message 😁. Wipe off the data completely.

[2018-05-18 08:48] Logan1x commented on #237
we can add deactivate option too.

[2018-05-18 08:54] viditkothari commented on #237
Indeed @Logan1x  😆

[2018-05-18 09:12] gauravsinghaec commented on #237
@Logan1x @viditkothari people use to deactivate the account on social media in special cases which you know. But in jeevanrakht, it is 1 or 0, nothing in between. 😜 In a real scenario, the replicated data can exist very well in ETL tables whereas the record is deleted from transaction table.😆

[2018-05-18 09:16] gauravsinghaec commented on #237
Delete account functionality is implemented.  The code is deployed, you can test on the official site.
https://jeevanrakht.herokuapp.com/users

[2018-05-18 09:32] gauravsinghaec commented on #240
**Updated donate page-Desktop View:**
![image](https://user-images.githubusercontent.com/15084301/40227449-2ac388ca-5aac-11e8-82d8-0e325898f5ac.png)
**Updated donate page-MobileView:**
![image](https://user-images.githubusercontent.com/15084301/40227500-56189718-5aac-11e8-9974-9c2e9d08fc1d.png)

@viditkothari @strongSoda @mcashashankkumar @utkarsh2102 Please check and let me know your suggestions.

[2018-05-18 09:44] gauravsinghaec commented on #242
@strongSoda @viditkothari please comment on this issue.

[2018-05-18 10:04] strongSoda commented on #240
LGTM

[2018-05-18 10:05] strongSoda commented on #242
We have got relevant images from @Megha
Hence closing this issue.

[2018-05-18 10:05] viditkothari commented on #242
@nikki158 Nice work Namrata! and it seems you adhered to the guides, glad about it too  :)

Thanks

@gauravsinghaec its good to go!

[2018-05-18 10:07] viditkothari commented on #242
@strongSoda I really like the second and third. We can include it as another artwork/slide for the carousel.

[2018-05-18 10:09] strongSoda commented on #242
Okay go ahead with second and third @vidit @gaurav

[2018-05-18 10:15] mcashashankkumar commented on #240
LGTM

[2018-05-18 10:27] gauravsinghaec commented on #240
Thank you all. the changes are deployed to Heroku.
https://jeevanrakht.herokuapp.com/donate

[2018-05-18 10:32] gauravsinghaec commented on #240
Issue resolved.

[2018-05-18 10:32] #240 closed

[2018-05-18 10:33] gauravsinghaec commented on #237
Issue resolved.

[2018-05-18 10:33] #237 closed

[2018-05-18 11:48] skywalker212 commented on #224
I'll finish working on the updates by Sunday.

[2018-05-18 16:07] skywalker212 commented on #224
@viditkothari @gauravsinghaec I have made the changes as you requested and made the site responsive.
https://morning-headland-57135.herokuapp.com/index.html
https://github.com/skywalker212/jeevan-rakht/commit/7d61ccbd4aedb73095e96e9fd9b476484009be86

[2018-05-18 18:05] #228 closed

[2018-05-18 18:06] viditkothari commented on #228
Thanks @nehavatsyan  :)

[2018-05-18 22:52] utkarsh2102 commented on #242
Closing this.
This issue has been resolved in PR #245.
Great work @nikki158 :)

[2018-05-18 22:52] #242 closed

[2018-05-18 22:53] utkarsh2102 commented on #224
@skywalker212, I'm waiting to hear more on this very, very soon.
Please keep us updated. We need to get things done by this weekend.

[2018-05-19 03:34] skywalker212 commented on #224
@utkarsh2102 I have finished working on it, https://morning-headland-57135.herokuapp.com/index.html
please check it out.

[2018-05-19 03:37] strongSoda commented on #224
LGTM

Utkarsh plz review code also and do the needful.

[2018-05-19 04:27] gauravsinghaec commented on #224
It's good to go. We can merge it so that other can work keeping this as codebase.

[2018-05-19 09:44] gauravsinghaec commented on #224
Kudos @skywalker212 for your work. 💯
@praveen-me you can check the latest code now and comment on this issue if you find anything.
The code is deployed on Heroku, check our official site:
https://jeevanrakht.herokuapp.com/index.html

**Desktop View:**
![image](https://user-images.githubusercontent.com/15084301/40267203-8a09504c-5b76-11e8-9cb2-4741898c48f5.png)
![image](https://user-images.githubus

[2018-05-21 02:38] gauravsinghaec commented on #226
@Karthik781 any update? are you facing any roadblocks?

[2018-05-21 09:33] Karthik781 commented on #226
@gauravsinghaec Sorry man, last week was hectic with internship interviews etc.. can you give me this weak?

[2018-05-21 11:56] gauravsinghaec commented on #226
hey @Karthik781 that's totally ok. Yeah, I can understand but it will help the team if you can give us the clear idea. Sometimes honest feedback helps so let me ask specifically,
1. Did you start the work?
 If yes then what percentage of tasks are done until today?
2. Will you be comfortable or want us to pass it to other if you are not getting enough time.?

[2018-05-22 07:38] Karthik781 commented on #226
@gauravsinghaec  Didn't started yet! will complete by weekend if thats okay.

[2018-05-22 11:02] gauravsinghaec opened #249 "Issue-21: (Backend+Frontend): Add delete existing booking functionality on donate page."
**Frontend Part:** Add delete icon on donate page to delete the booking.
* Impacted File: views/main/donate.hjs
*Note: Please add css as per project guidelines.
![image](https://user-images.githubusercontent.com/15084301/40358387-b30124d0-5ddc-11e8-85db-a2f9108a16b7.png)
**Backend Part**: Add code to erase existing booking details from DB for the giver USER.
* Impacted File: views/main/donate.js

[2018-05-23 00:44] Ruchika30 commented on #226
@gauravsinghaec  Can I work on it?

[2018-05-23 01:10] gauravsinghaec commented on #226
@Ruchika30 yeah sure, before that we would like to know if you can come up with some work before the weekend.

[2018-05-23 05:09] #224 closed

[2018-05-24 03:27] Ruchika30 commented on #226
@gauravsinghaec I went though the content of the doc & the site too. Please tell me am I suppose to insert the complete information provided in the doc on the page ? The content is highly informative.

[2018-05-24 03:34] gauravsinghaec commented on #226
@Ruchika30 that's so nice of you. Please work on the homepage related content first and share your work here. Then you can work on other content. is that ok?

[2018-05-24 09:33] gauravsinghaec commented on #142
**Completed functionality:**
 -  Contact Donor
User logged in, went to locate page and searched for donors:
**Donor list on locate page:**
![image](https://user-images.githubusercontent.com/15084301/40474399-88f27f5a-5f5c-11e8-85fe-0f5ad1a01c64.png)

Now if you want to contact a particular donor then click on contact as shown above.
**Below is the confirmation screen before we send the visitor's(l

[2018-05-24 16:49] Ruchika30 commented on #226
@gauravsinghaec Sorry to say , but it looked a mess after the whole detailed content being inserted when I just tried inserting for "Why donate". I am following the doc given in the above link.  https://github.com/UdacityFrontEndScholarship/jeevan-rakht/blob/master/_workables/content
Pls suggest.

[2018-05-25 01:02] gauravsinghaec commented on #226
@Ruchika30 as mentioned
The content is in _workabkes/content folder here https://github.com/UdacityFrontEndScholarship/jeevan-rakht/blob/master/_workables/content/JeevanRakht%20-%20Content%20Doc%20(final).pdf

The current site is here https://jeevanrakht.herokuapp.com/index.html
You can see the myth section is blank on homepage (Open the site from above link)

[2018-05-25 06:59] gauravsinghaec commented on #142
Task accomplished.

[2018-05-25 06:59] #142 closed

[2018-05-27 02:42] gauravsinghaec opened #253 "Add functionality to add profile picture."
This functionality will be added on profile page.

[2018-06-01 01:11] gauravsinghaec commented on #226
@samyak8853 Great show buddy. Can you please deploy it on Heroku or share any URL to see the changes live?
Few things to note:
1. The **&** in navigation (Faq & info) is not corrected by HTML utility **&amp;**
2. I would check if we need to have two separate page for Faq and Info or it will be a single page.
3. We have **main.css** for website, is there any specific reason for creating another css

[2018-06-01 07:05] codestryker commented on #226
Today i will clear the issues for my pull request.

[2018-06-17 07:23] gauravsinghaec commented on #226
All good so far @samyak8853. Can you please reduce your commits before I merge your PR. Now you can see there are 40 commits. Also please give some meaningful comments to your commit messages. Please follow the below link for the good git commit messages.
https://udacity.github.io/git-styleguide/

[2018-11-06 07:09] Ckbhatia commented on #253
@gauravsinghaec Who will handle backend part of profile picture?
I want to add this functionality of front end part.